<script lang="ts">
    import { onMount, onDestroy } from "svelte";
    import { browser } from "$app/environment";
    import { MapStore } from "$lib/stores/map";

    onMount(async () => {
        if (browser) {
            const L = await import("leaflet");
            const con: HTMLElement | null = document.querySelector("#map");
            if (con !== null) {
                let map = L.map(con).setView([52.05, 8.49], 13);
                MapStore.set(map);
                const resizeObserver = new ResizeObserver(() => {
                    if (map) map.invalidateSize();
                });
                resizeObserver.observe(map.getContainer());

                map.getContainer().classList.add("col", "h-100");

                L.tileLayer(
                    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    {
                        attribution:
                            '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                    }
                ).addTo(map);
            }
        }
    });
    onDestroy(() => {
        MapStore.set(null);
    });
</script>

<div class="h-100" id="map">
    <slot />
</div>

<style>
</style>
