<script lang="ts">
    import { getContext, createEventDispatcher } from "svelte";
    import { onMount } from "svelte";
    import { browser } from "$app/environment";
    import { MapStore } from "$lib/stores/map";
    import type { Map } from "leaflet";

    export let lat: number;
    export let lon: number;
    export let tree: Object;

    export let options: L.MarkerOptions = {};
    let map: L.Map;

    const dispatch: any = createEventDispatcher();

    onMount(async () => {
        if (browser) {
            const L = await import("leaflet");
            MapStore.subscribe((map) => {
                if (map) {
                    let icon: L.DivIcon = L.divIcon({
                        iconSize: [12, 12],
                        iconAnchor: [6, 6],
                        className: "",
                        html: `<img style="width:12px; height:12px;" src="/marker-tree-icon.png">`,
                    });

                    let marker = L.marker(L.latLng([lat, lon]), options);
                    marker.setIcon(icon);
                    marker.addTo(map);
                    marker.addEventListener("click", () =>
                        dispatch("click", { tree: tree })
                    );
                }
            });
        }
    });
</script>