<script lang="ts">
  import "../style.scss";
  import "leaflet/dist/leaflet.css";
  import Navbar from "$lib/components/Navbar.svelte";

  import { UserStore } from "$lib/stores/user";
  import { APPLICATION_TITLE } from "$lib/constants";
  /** @type {import('./$types').PageData} */
  export let data;
  UserStore.set(data.user.authenticated ? data.user : null);
</script>

<svelte:head>
  <title>{APPLICATION_TITLE}</title>
</svelte:head>

<Navbar title={APPLICATION_TITLE} />
<div class="vw-100 row g-0" style="height: calc(100vh - 56px);">
  <slot />
</div>
