<script lang="ts">
    import { beforeUpdate, onMount } from "svelte";
    import Chart from "chart.js/auto";
    import type { ChartData, ChartOptions } from "chart.js";
    import "chartjs-adapter-moment";

    export let data: ChartData;
    export let options: ChartOptions;

    beforeUpdate(async () => {
        Chart.getChart("chart")?.destroy();
        const chartCon: HTMLCanvasElement | null =
            document.querySelector("#chart");
        if (!chartCon) return;
        const ctx = chartCon.getContext("2d");
        if (!ctx) return;

        const chart = new Chart(ctx, {
            type: "line",
            data: data,
            options: options,
        });
    });
</script>

<canvas id="chart" />
