<script lang="ts">
    import TreeTagForm from "./TreeTagForm.svelte";
    import { emptyTag } from "$lib/utils";
    import type {
        Change,
        DatapointFormErrors,
        TagFormError,
    } from "$lib/types";
    import { createEventDispatcher } from "svelte";
    import DateInput from "../forms/DateInput.svelte";

    export let treeId: number | undefined;

    let change: Change = {
        tree: treeId || 0,
        edited_at: "",
        tags: [],
    };

    export let tags = change.tags;

    let datapointFormErrors: DatapointFormErrors = {};
    let tagsFormErrors: TagFormError[] = change.tags.map(() => {
        return {};
    });

    $: change.tags = tags;

    let dispatch = createEventDispatcher();

    async function submitForm() {
        let res: Response = await fetch("/api/datapoint/create", {
            method: "POST",
            body: JSON.stringify(change),
            headers: {
                "Content-type": "application/json;",
            },
        });

        if ((await res.status) == 400) {
            let json = await res.json();
            datapointFormErrors = json;
            if (datapointFormErrors.tags) {
                tagsFormErrors = datapointFormErrors.tags;
            } else {
                tagsFormErrors = change.tags.map(() => {
                    return {};
                });
            }
        } else {
            dispatch("submit",change);
            change = {
                tree: treeId || 0,
                edited_at: "",
                tags: [],
            };
        }
    }
</script>

{#if treeId}
    <form method="POST">
        <h3>Datapoint</h3>
        <h5>Datapoint's date</h5>
        <div class="row mb-3">
            <div class="col">
                <DateInput
                    bind:value={change.edited_at}
                    id="edited_at"
                    errors={datapointFormErrors}
                />
            </div>
        </div>
        <h5>Datapoint's data</h5>
        {#each tags as tag, idx}
            <div>
                <TreeTagForm
                    bind:tagFormErrors={tagsFormErrors[idx]}
                    bind:tag
                />
            </div>
        {/each}

        <div class="row g-2 mb-3">
            <div class="col">
                <button
                    on:click={() => {
                        tags.push(emptyTag());
                        tags = tags;
                    }}
                    type="button"
                    class="w-100 btn btn-primary">Add Tag</button
                >
            </div>
            <div class="col">
                <button
                    on:click={() => {
                        tags.pop();
                        tags = tags;
                    }}
                    type="button"
                    class="w-100 btn btn-danger">Remove Tag</button
                >
            </div>
        </div>
    </form>

    <button on:click={submitForm} type="button" class="btn btn-primary"
        >Save changes</button
    >
{/if}
