<script lang="ts">
    import type { Tree } from "$lib/types";

    export let tree: Tree;
</script>

<table class="table table-dark table-striped table-borderless">
    <thead class="table-primary">
        <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{tree.id}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{tree.properties.name}</td>
        </tr>
        <tr>
            <td>Created at</td>
            <td
                >{new Date(
                    tree.properties.changes[0].edited_at
                ).toLocaleDateString("de")}</td
            >
        </tr>
    </tbody>
</table>
