<script lang="ts">
    import type { Change } from "$lib/types";
    export let changes: Change[];
  </script>
  
  <table class="table table-striped table-dark table-borderless">
    {#each changes as c}
      <thead class="table-primary">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">{new Date(c.edited_at).toLocaleDateString("de")}</th>
        </tr>
      </thead>
      <tbody>
        {#each c.tags as t}
          <tr>
            <td>{t.key.key}</td>
            <td>{t.value}</td>
          </tr>
        {/each}
      </tbody>
    {/each}
  </table>
  