<script lang="ts">
    import TreeTable from "$lib/components/tree/TreeTable.svelte";
    import DatapiontTable from "./TreeDatapointTable.svelte";
    import type { Tag, Tree } from "$lib/types";
    import { SelectedTreeStore } from "$lib/stores/map";
    import LineChart from "../charts/LineChart.svelte";
    import type { ChartData, ChartOptions } from "chart.js";
    import { beforeUpdate, createEventDispatcher } from "svelte";
    import IsAuthenticated from "../auth/IsAuthenticated.svelte";

    let dispatch = createEventDispatcher();

    let tree: Tree | null;
    let chartData: ChartData;
    let chartOptions: ChartOptions;
    let tags: { date: Date; data: { [x: string]: any } }[];
    let selectedTag: string = "height";
    let keys: Tag[];

    SelectedTreeStore.subscribe((t) => {
        tree = t;
    });

    beforeUpdate(async () => {
        if (tree) {
            keys = tree?.properties.changes[0].tags.filter(
                (t) => t.key.tag_type === "numeric"
            );

            tags = tree.properties.changes.map((c) => {
                let keys: Tag[] = c.tags.filter(
                    (t) => t.key.tag_type === "numeric"
                );
                let v: { [x: string]: any } = {};
                keys.forEach((k, i) => {
                    v[k.key.key] = k.value;
                });

                return { date: new Date(c.edited_at), data: v };
            });

            chartData = {
                labels: tree.properties.changes.map(
                    (c) => new Date(c.edited_at)
                ),
                datasets: [
                    {
                        label: selectedTag,
                        data: tags.map((t) => t.data[selectedTag]),
                        borderColor: "#198754",
                        tension: 0.5,
                        borderWidth: 2,
                        pointBorderWidth: 5,
                    },
                ],
            };

            chartOptions = {
                scales: {
                    y: {
                        min: 0,
                    },
                    x: {
                        type: "time",
                        time: {
                            unit: "day",
                            tooltipFormat: "DD. MMMM yyyy",
                        },
                    },
                },
                plugins: {
                    tooltip: {
                        displayColors: false,
                    },
                },
            };
        }
    });
</script>

{#if tree && tags}
    <div class="m-2">
        {#each keys as key}
            {#if key.key.key == selectedTag}
                <button
                    on:click={(c) => {
                        selectedTag = key.key.key;
                    }}
                    class="m-1 btn btn-primary">{key.key.key}</button
                >
            {:else}
                <button
                    on:click={(c) => {
                        selectedTag = key.key.key;
                    }}
                    class="m-1 btn btn-secondary">{key.key.key}</button
                >
            {/if}
        {/each}
        <LineChart bind:options={chartOptions} bind:data={chartData} />
    </div>
    <div class="mb-2">
        <IsAuthenticated>
            <div class="row m-2">
                <button
                    on:click={() => {
                        dispatch("add_datapoint");
                    }}
                    class="col btn btn-primary"
                    type="button">Add Datapoint</button
                >
            </div>
        </IsAuthenticated>
    </div>

    <h3 class="ps-3">Tree data</h3>
    <TreeTable {tree} />
    <h3 class="ps-3">Tree datapoints over time</h3>
    <DatapiontTable changes={tree.properties.changes} />
{:else}
    <div class="h-100 d-flex">
        <h1 class="w-100 text-center align-self-center">No tree selected</h1>
    </div>
{/if}
