<script lang="ts">
    import TreeTagForm from "./TreeTagForm.svelte";
    import { emptyTag } from "$lib/utils";
    import type {
        DatapointFormErrors,
        TagFormError,
        Tree,
        TreeFormErrors,
    } from "$lib/types";
    import { createEventDispatcher } from "svelte";
    import TextInput from "../forms/TextInput.svelte";
    import NumberInput from "../forms/NumberInput.svelte";
    import DateInput from "../forms/DateInput.svelte";

    let tree: Tree = {
        type: "Feature",
        properties: {
            name: "",
            species: "",
            changes: [
                {
                    edited_at: "",
                    tags: [],
                },
            ],
        },

        geometry: {
            type: "Point",
            coordinates: [0, 0],
        },
    };

    export let coords;
    export let tags = tree.properties.changes[0].tags;

    let treeFormErrors: TreeFormErrors = {};
    let datapointFormErrors: DatapointFormErrors = {};
    let tagsFormErrors: TagFormError[] = tree.properties.changes[0].tags.map(
        () => {
            return {};
        }
    );

    tree.geometry.coordinates = [coords[0], coords[1]];
    $: tree.properties.changes[0].tags = tags;

    let dispatch = createEventDispatcher();

    async function submitForm() {
        let res: Response = await fetch("/api/tree/create", {
            method: "POST",
            body: JSON.stringify(tree),
            headers: {
                "Content-type": "application/json;",
            },
        });

        if ((await res.status) == 400) {
            let json = await res.json();
            treeFormErrors = json;
            if (treeFormErrors.changes) {
                datapointFormErrors = treeFormErrors.changes[0];
                if (datapointFormErrors.tags) {
                    tagsFormErrors = datapointFormErrors.tags;
                } else {
                    tagsFormErrors = tree.properties.changes[0].tags.map(() => {
                        return {};
                    });
                }
            } else {
                tagsFormErrors = tree.properties.changes[0].tags.map(() => {
                    return {};
                });
                datapointFormErrors = {};
            }
        } else {
            tree = {
                type: "Feature",
                properties: {
                    name: "",
                    species: "",
                    changes: [
                        {
                            edited_at: "",
                            tags: [
                                {
                                    key: { key: "", tag_type: "" },
                                    value: null,
                                },
                            ],
                        },
                    ],
                },

                geometry: {
                    type: "Point",
                    coordinates: [0, 0],
                },
            };
            dispatch("submit");
        }
    }
</script>

<form method="POST">
    <h3>Tree</h3>
    <h5>Tree details</h5>
    <div class="row g-3">
        <div class="col">
            <TextInput
                name="Name"
                id="name"
                bind:value={tree.properties.name}
                errors={treeFormErrors}
            />
        </div>
        <div class="col">
            <TextInput
                name="Species"
                id="species"
                bind:value={tree.properties.species}
                errors={treeFormErrors}
            />
        </div>
    </div>

    <h5>Coordinates</h5>
    <div class="row g-3">
        <div class="col">
            <NumberInput
                name="Latitude"
                id="geom"
                bind:value={tree.geometry.coordinates[1]}
                errors={treeFormErrors}
            />
        </div>
        <div class="col">
            <NumberInput
                name="Londitude"
                id="geom"
                bind:value={tree.geometry.coordinates[0]}
                errors={treeFormErrors}
            />
        </div>
    </div>
    <h3>Tree's first datapoint</h3>
    <h5>Datapoint's date</h5>
    <div class="row mb-3">
        <div class="col">
            <DateInput
                bind:value={tree.properties.changes[0].edited_at}
                id="edited_at"
                errors={datapointFormErrors}
            />
        </div>
    </div>
    <h5>Datapoint's data</h5>
    {#each tags as tag, idx}
        <div>
            <TreeTagForm bind:tagFormErrors={tagsFormErrors[idx]} bind:tag />
        </div>
    {/each}

    <div class="row g-2 mb-3">
        <div class="col">
            <button
                on:click={() => {
                    tags.push(emptyTag());
                    tags = tags;
                }}
                type="button"
                class="w-100 btn btn-primary">Add Tag</button
            >
        </div>
        <div class="col">
            <button
                on:click={() => {
                    tags.pop();
                    tags = tags;
                }}
                type="button"
                class="w-100 btn btn-danger">Remove Tag</button
            >
        </div>
    </div>
</form>

<button on:click={submitForm} type="button" class="btn btn-primary"
    >Save changes</button
>
