<script lang="ts">
    export let id: string;
    export let value: string;
    export let errors: { [x: string]: any };
</script>

<input
    type="date"
    class="form-control"
    class:is-invalid={errors[id] ? true : false}
    id={id}
    bind:value={value}
/>
<div class="invalid-feedback">{errors[id] ? errors[id] : ""}</div>
