<script lang="ts">
    export let name: string;
    export let id: string;
    export let value: number;
    export let errors: { [x: string]: any };
</script>

<div class="form-floating mb-3">
    <input
        bind:value
        type="number"
        class="form-control"
        class:is-invalid={errors[id] ? true : false}
        id={id}
        placeholder=""
    />
    <label for={id}>{name}</label>
    <div class="invalid-feedback">
        {errors[id] ? errors[id] : ""}
    </div>
</div>
