<script lang="ts">
    import { UserStore } from "$lib/stores/user";
    import type { User } from "$lib/types";

    let user: User | null;
    UserStore.subscribe((u) => {
        user = u;
    });
</script>

{#if user}
    <slot />
{/if}
