<script lang="ts">
    import { UserStore } from "$lib/stores/user";

    import type { User } from "$lib/types";

    export let user: User | null;
    UserStore.subscribe((u) => {
        user = u;
    });
</script>

{#if user && user.authenticated && user.user}
    <h3>You are logged in as {user.user.username}</h3>
{:else}
    <h3>You are not logged in</h3>
{/if}
