<script lang="ts">
    import { fetchLogin } from "$lib/api";
    let error = "";

    async function onSubmitLoginForm(e: SubmitEvent) {
        const form = e.target as HTMLFormElement;

        const resp = await fetchLogin(form);

        if (resp.ok) {
            location.replace("/");
        } else {
            let body = await resp.json();
            if (body["non_field_errors"]) {
                error = body["non_field_errors"][0];
            } else {
                error = "";
            }
        }
    }
</script>

<div class="row flex-collumn justify-content-center h-100 m-0 p-0">
    <div class="col-lg-4 col-sm-6 col-12 my-auto">
        <div class="card bg-dark w-100 px-5 py-2">
            <h1 class="fs-3 fw-bold text-center text-white">Login</h1>
            <form on:submit|preventDefault={onSubmitLoginForm}>
                <div class="mb-2">
                    <input
                        class="form-control"
                        type="text"
                        name="username"
                        placeholder="Username"
                        required
                    />
                </div>
                <div class="mb-2">
                    <input
                        class="form-control"
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>
                <button class="btn btn-primary w-100" type="submit"
                    >Log In</button
                >
                <div class="mt-3 w-100">
                    {#if error}
                        <span
                            class="badge text-center text-wrap bg-danger m-0 w-100 fs-6 mb-2"
                            >{error}</span
                        >
                    {/if}
                </div>
            </form>
        </div>
    </div>
</div>
