/* Variables and mixins declared here will be available in all other SCSS files */
@import "bootstrap/scss/functions"; 

$primary: #198754;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$darker: #212529;

$border-color: $primary;

$input-border-color: $primary;
$input-color: $light;
$input-bg: $darker;

$modal-content-bg: $darker;
$modal-content-color: $light;

$body-bg: $darker;
$body-color: $light;

$table-bg-scale: 1;

$table-variants: (
  "primary":    shift-color($primary, $table-bg-scale),
  "secondary":  shift-color($secondary, $table-bg-scale),
  "success":    shift-color($success, $table-bg-scale),
  "info":       shift-color($info, $table-bg-scale),
  "warning":    shift-color($warning, $table-bg-scale),
  "danger":     shift-color($danger, $table-bg-scale),
  "light":      $light,
  "dark":       $dark,
);


@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
