<script lang="ts">
    import { createEventDispatcher } from "svelte";

    export let show: boolean = false;
    export let title: string = "";
    let dispatch = createEventDispatcher();

    const modalClose = () => {
        show = false;
        dispatch("close");
    };
</script>

{#if show}
    <div
        class="modal"
        id="sampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="sampleModalLabel"
        aria-hidden={show}
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sampleModalLabel">
                        {title}
                    </h5>
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-dismiss="modal"
                        aria-label="Close"
                        on:click={modalClose}
                    />
                </div>
                <div class="modal-body">
                    <slot name="body" />
                </div>
                <div class="modal-footer">
                    <slot name="footer" />
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        on:click={modalClose}>Close</button
                    >
                </div>
            </div>
        </div>
    </div>
{/if}

<style>
    .modal {
        display: block;
    }
</style>
