<script lang="ts">
    import { UserStore } from "$lib/stores/user";
    import type { User } from "$lib/types";

    export let title: String;

    let user: User | null;
    UserStore.subscribe((u) => {
        user = u;
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{title}</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon" />
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Map</a>
                <!-- <a class="nav-link" href="/">Data</a> -->
                <!-- <a class="nav-link" href="/user">User</a> -->
                <!--TODO <a class="nav-link" href="#">About</a> -->
            </div>

            <div class="mx-auto w-50" role="group" />
            {#if user}
                <a class="nav-link p-2 text-primary" href="/auth/logout"
                    >Logout</a
                >
            {:else}
                <a class="nav-link p-2 text-primary" href="/auth/login">Login</a
                >
                <!-- <a class="nav-link p-2 text-primary" href="/">Register</a> -->
            {/if}
        </div>
    </div>
</nav>
