<script lang="ts">
    import { createEventDispatcher } from "svelte";

    export let show: boolean;
    export let title: string = "";

    const dispatch = createEventDispatcher();
</script>

{#if show}
    <div class="col-md-4 col-12 h-100 overflow-scroll" id="sidebar">
        <div class="row justify-content-end my-2 g-0">
            <h3 class=" text-center align-self-center col-10">
                {title}
            </h3>
            <button
                on:click={() => dispatch("close")}
                class="col-1 btn btn-close btn-close-white align-self-center me-2"
            />
        </div>
        <slot />
    </div>
{/if}
