<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
</script>

<div class="w-auto p-2 d-flex">
    <div class="align-self-start d-flex flex-column" role="group">
        <!-- <div class="btn-group-vertical pb-2">
            <button
                on:click={() => console.log("test")}
                type="button"
                class="btn btn-primary p-0"
                style="width: 42px; height: 42px;"
                ><img
                    src="/arrows-move.svg"
                    alt=""
                    width="24"
                    height="24"
                /></button
            >
        </div> -->
        <button
            on:click={() => dispatch("add-tree")}
            type="button"
            class="btn btn-primary p-0"
            style="width: 42px; height: 42px;"
            ><img src="/tree.svg" alt="" width="24" height="24" /></button
        >
    </div>
</div>
